<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="fullWidth" fxLayoutGap="3em" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/images/more.jpg" style="width: 1085px; height: 495px;" class="marginTop2em">
      <div fxLayout="row wrap" class="width80" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" class="marginbottom1em" fxLayoutAlign="start stretch" [fxShow]="true">
          <p style="font-size:4em" class="Monoton fontSize4em">
            About Us</p>
          <p>
            An app for art collectors and enthusiasts! The Art Gallary application provides access to today&#x2019;s current trends, global artworks, precious articles, and more! Find old masterpieces or contemporary art; or furniture to photography to prints; or dabble in fine wine and jewelry. Regardless, you are bound to find something of interest! Known for its unparalleled expertise, Art Gallary App world-class specialists have assembled quality art-based content for its users! Calling all art connoisseurs! AMO is a user-friendly app created by artists, for artists. Discover artworks throughout history are seamlessly packed in one, accessible spot. Here, you&#x2019;ll find a daily feed with interesting facts, historical stories, artist biographies, and more! Uncover endless art and inspire your inner artist by absorbing AMO&#x2019;s presentation of beauty and history. </p>
        </div>
      </div>
      <div fxLayout="row wrap" class="width90" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://i.pinimg.com/564x/35/cc/45/35cc45f042521c3e300a79c2f1fdf973.jpg&apos;" style="height:200px"></div>
        <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://i.pinimg.com/564x/92/2f/59/922f597ccf45f77a43acf9be916bbb82.jpg&apos;" style="height:200px"><img [src]="&apos;https://i.pinimg.com/736x/ae/bb/34/aebb34c7e04cd23f37d709546a810597.jpg&apos;" style="height:200px"></div>
        <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://i.pinimg.com/564x/16/4a/26/164a2609eac50415f081e8be872969af.jpg&apos;" style="height:200px"></div>
      </div>
      <div fxLayout="row wrap" class="width90" fxLayoutAlign="end end" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="end end" [fxShow]="true">
          <h1 style="margin-left:100px" class="fontSpecial fontSize4em">
            Our History</h1>
          <div fxLayout="row wrap" class="width90" fxLayoutAlign="end end" [fxShow]="true">
            <p>
              Art museum or art gallery is a term for a place - building or space, for exhibition of visual arts. There are private and public museums of art that differ in who owns the exposed art pieces. The most common items that are exhibited in art museums are paintings but sculpture, drawings, textiles, photographs and other type of visual arts are also shown.

              Public art museums are nonprofit or publicly owned while private galleries sell art. Galleries are also rooms in museums where the art is displayed. There are also contemporary art galleries that are semi-private: they sell the art and keep portion of the sales. Vanity galleries charge the artists for displaying their art.</p>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" style="padding:30px;height:40vh" class="fullWidth bgColor marginTop2em" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="90" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <h1 style="color:white">
              Contact Us</h1>
          </div>
          <div fxLayout="row wrap" class="width80 whiteText" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Address: </p>
                <div>
                  <p>Lang Street 1007/20</p>
                  <p>Standerton 2430</p>

                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Email Address: </p>
                <p>
                  artGalleryinfo@moreabout.co.za

                </p>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Enquires: </p>
                <p>
                  artGalleryEnquires@moreabout.co.za

                </p>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Tel: </p>
                <p>
                  012-394-4983</p>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Enquires: </p>
                <p>
                  012-111-4384</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>