<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <ngx-star-rating [formControl]="rating" [id]="&apos;rating&apos;" [disabled]="true"></ngx-star-rating>
      <form [formGroup]="page.form">
        <ngx-star-rating formControlName="rating" [id]="&apos;rating&apos;"></ngx-star-rating>
        <div>Rating: {{page.form.value.rating}}</div>
        <p>form is valid: {{ page.form.valid ? &apos;true&apos; : &apos;false&apos; }}</p>
      </form>
    </div>
  </div>
</div>