<div fxLayout="row wrap" class="marginTop2em fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/images/about.jpg" style="width: 685px; height: 495px;">
    <div fxLayout="row wrap" style="margin-top:5em" class="width80" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" style="margin-bottom:10px;" fxFlex="24" fxLayoutAlign="center center" [fxShow]="true" *ngFor="let item of page.arr; let i = index">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" (click)="showArtInfo(item)">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><img [src]="item.artwork" style="margin-top:0.5em" class="curser roundImg">
            <p>
              {{item.artistName}}
            </p>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon class="curser" *ngFor="let rate of item.rate; let ind = index" (click)="rateArt(rate,ind,i)" [class.yellowText]="rate.rate">{{rate.icon}}</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>