<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="marginTop2em fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="flash fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" class="shoppingBg fullWidth" fxLayoutAlign="center center" [fxShow]="true">
        <div class="whiteText fontSize4em Monoton">
          Shopping</div>
      </div>
      <div fxLayout="row wrap" style="margin-top:5em" class="width80" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="24" fxLayoutGap="5px" fxLayoutAlign="center center" [fxShow]="true" (click)="sd_mh9z0aKQWiNSYSgt()" *ngFor="let item of page.arr"><img [src]="item.artwork" class="img" width="180px">
          <p class="fontSize24 fontSpecial">
            {{item.title}}
          </p>
          <p style="color:#31595d;">
            {{item.price}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>