<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="marginTop2em fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" class="shoppingBg fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          hi</div>
      </div>
      <div fxLayout="row wrap" style="margin-top:5em" class="width80" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="24" fxLayoutAlign="center center" [fxShow]="true" (click)="sd_mh9z0aKQWiNSYSgt()" *ngFor="let item of page.arr"><img [src]="item.artwork" class="img" width="180px">
          <p>
            {{item.price}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>