<div fxLayout="row wrap" style="width:450px;height:100%" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="page.data.artwork" style="width:150px;height:150px"></div>
    <p class="fullWidth fontSize24">
      {{page.data.artistName}}
    </p>
    <p class="fullWidth">
      {{page.data.cateory}}
    </p>
    <p class="fullWidth">
      {{page.data.info}}
    </p>
    <p>
      {{page.data.year}}
    </p>
  </div>
</div>