<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="margin-bottom2em marginTop2em" fxLayoutAlign="center center" [fxShow]="true">
    <div class="fontSpecial fontSize4em">
      Events</div>
  </div>
  <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page.events.length &gt; 0">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" *ngFor="let event of page.events">
          <mat-card class="marginbottom1em padding20px fullWidth">
            <mat-card-title class="fontSpecial font3em">{{event.eventName}}</mat-card-title>

            <img mat-card-image class="height296" [src]="event.imageUrl">

            <mat-card-content>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" class="width95" fxLayoutAlign="space-between center" [fxShow]="true">
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div fxLayout="row wrap" class="margintop1em" fxLayoutAlign="start stretch" [fxShow]="true">
                      <h1 class="fontSpecial">
                        {{event.description}}
                      </h1>
                    </div>
                    <div fxLayout="row wrap" class="fullWidth margintop1em" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                      <p class="width50 fontSize1em">
                        <b>Entrance Fee: </b>
                      </p>
                      <p class="width50">
                        R{{event.entryFee}}</p>
                    </div>
                    <div fxLayout="row wrap" class="fontSize1em fullWidth margintop1em" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                      <p class="width50">
                        <b>Time: </b>
                      </p>
                      <p class="width50">
                        {{event.time}}
                      </p>
                    </div>
                    <div fxLayout="row wrap" class="margintop1em fullWidth" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                      <p class="width50 fontSize1em">
                        <b>Description: </b>
                      </p>
                      <p class="width50">
                        {{event.description}}
                      </p>
                    </div>
                    <div fxLayout="row wrap" class="margintop1em fullWidth" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true">
                      <p class="width50">
                        <b>Date: </b>
                      </p>
                      <p class="width50">
                        {{event.date | date }}
                      </p>
                    </div>
                    <div fxLayout="row wrap" class="fullWidth margintop1em" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                      <p class="width50">
                        <b>Address: </b>
                      </p>
                      <div class="width50">
                        <p>{{event.street}}</p>
                        <p> {{event.suburb}}</p>
                        <p> {{event.city}}</p>
                        <p> {{event.code}}</p>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div fxLayout="row wrap" class="fontSize1em margintop1em fullWidth" fxLayoutAlign="center center" [fxShow]="true">
                      <div>
                        <!-- <iframe width="727" height="409" src="https://www.youtube.com/embed/{{event.videoUrl}}" title="Ngizilalhlela Kuwe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                        <iframe width="100%" height="200" [src]="event.videoUrl" [title]="event.eventName" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <!-- <iframe width="100%" height="200" [src]="'https://www.youtube.com/embed/PuDB4KwGhHA'" [title]="event.eventName" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions></mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>