<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="marginTop2em fullWidth" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column wrap" class="flash fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" class="zebrabackground fullWidth" fxLayoutAlign="center center" [fxShow]="true">
        <div class="whiteText fontSize4em Monoton">
          Events</div>
      </div>
      <div fxLayout="row wrap" style="margin-top:5em" class="fullWidth" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="center center" [fxShow]="true"><img [src]="&apos;https://i.pinimg.com/564x/62/c3/9e/62c39eeb5e836125bddab22acbd89669.jpg&apos;" class="img" width="180px">
          <p class="fontSpecial fontSize5em">
            Join Us</p>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div height="300" src="page.mapsURL | safe" width="100%">
          <iframe [src]="page.mapURl | safe" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>