<div fxLayout="row wrap" style="height:100vh" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="height:100%" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="row wrap" style="height:90px" class="width90" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><label class="yellowlines bold600 fontSize24 primaryBlackText">
              ART GALLERY</label></div>
          <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="bluebottom" fxLayoutAlign="space-between center" [fxShow]="true">
              <div fxLayout="column wrap" class="curser primaryBlackText" fxLayoutAlign="start stretch" [fxShow]="true"><label routerLink="display" class="curser bluebottom">
                  Home</label></div>
              <div fxLayout="column wrap" class="curser primaryBlackText" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="about"><label class="curser bluebottom">
                  About Us</label></div>
              <div fxLayout="column wrap" class="curser" fxLayoutAlign="start stretch" [fxShow]="true" (click)="getArtsits(allArtist)"><label (click)="getArtsits(allArtists)" class="curser bluebottom">
                  Artwork</label></div>
              <div fxLayout="column wrap" class="curser" fxLayoutAlign="start stretch" [fxShow]="true"><label routerLink="shop" class="curser">
                  Shop</label></div>
              <div fxLayout="column wrap" class="curser" fxLayoutAlign="start stretch" [fxShow]="true" routerLink="post"><label class="yellowTexthover curser Monoton bluebottom">
                  POST</label></div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" style="overflow-y:auto;" class="mainContent fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>