<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true"></div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="margin-top:4em;margin-bottom:4em" class="overfflow fullWidth" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true"><iframe name="art" sandbox="allow-scripts allow-popups allow-same-origin" src="https://youtu.be/lHePKNTRmdI" width="550px" style="height:55vh;" class="noScroll">
        </iframe></div>
      <div fxLayout="row wrap" class="margintop1em fullWidth overfflow" fxLayoutAlign="center center" [fxShow]="true">
        <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
          <div fxLayout="row wrap" class="width80" fxLayoutAlign="center center" [fxShow]="true">
            <p style="font-size:3em" class="Monoton">
              POST EVENT</p>
          </div>
          <div fxLayout="row wrap" class="width80" fxLayoutAlign="center center" [fxShow]="true">
            <form>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput name="title" type="text" placeholder="Event" [required]="true">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput name="price" placeholder="Price" [required]="true">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;">
                  <textarea matInput name="info" placeholder="Description" [required]="true"></textarea>
                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput name="year" placeholder="Place" [required]="true">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput name="artwork" type="time" placeholder="Time" [required]="true">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-form-field [appearance]="&apos;legacy&apos;">
                  <input matInput placeholder="Date " [matDatepicker]="picker" [required]="false" [disabled]="false">
                  <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                  <mat-datepicker #picker [disabled]="false"></mat-datepicker>

                </mat-form-field>
              </div>
              <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style=" width: 400px;" class="fullWidth btn" (click)="post(postForm.value)" [disableRipple]="true">Post</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>