<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div>
    </div>
  </div>
  <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
    <form>
      <p class="fontSize4em Monoton">
        Register</p>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="width95" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Firstname" [required]="false">

        </mat-form-field>
        <mat-form-field class="width95" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Lastname" [required]="false">

        </mat-form-field>
        <mat-form-field class="width95" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Email" [required]="false">

        </mat-form-field>
        <mat-form-field class="width95" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput placeholder="Password" [required]="false">

        </mat-form-field><button mat-raised-button>Register</button>
      </div>
    </form>
  </div>
</div>