/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Poppins:wght@100;200;300;400;500;600;700&family=Special+Elite&display=swap'); 


$yellow:#f7ab54;
$primaryBlack:#0f0e08;
$primaryBlue:cornflowerblue;
$white:white;

*{
    font-family: 'Poppins', sans-serif;
}
p, h1{
    margin:0px;
}
.Monoton{
    font-family: 'Monoton', cursive;
}
.font14{
    font-size: 14px;
}
.fontSpecial{
    font-family: 'Special Elite', cursive;
}
.yellowborder{
    font-family: 'Special Elite', cursive;
    border:3px solid $yellow;
    height:50vh;
    width:100px;
}
.marginbottom{
    margin-bottom: 0;
}
a{
    color:$yellow!important;
    text-decoration: none!important;

}
.width95{
    width: 95%;
}
.mat-form-field-prefix {
    padding-right: 5px;
}
.mat-input-element {
    caret-color: $yellow;
}
.mat-form-field-appearance-legacy:active .mat-form-field-underline:active {
    background-color: rgba(0,0,0,.42);
}

.margintop1em{
    margin-top:1em;
}
.roundImg{
    border-radius: 50%;
    width:200px;
    height:180px;
}
.centerText{
    text-align: center;
}
.fullWidth{
    width:100%
}
.width90{
    width:90%;
}
.width80{
    width:80%
}
bh-displaypae ,bh-cateory, bh-dialogeartinfo ,bh-login ,bh-register ,bh-post,bh-events ,bh-postbuttons ,bh-postevents{
    width:100%;
}
.marginTop2em{
    margin-top:2em;
}
.noScroll{
 overflow-y: hidden!important;
}
.blackBtn{
    border: 1px solid $primaryBlack!important;
}
.shoppingBg{
    background-image:linear-gradient(180deg,rgba(14, 0, 0,0.567),rgba(14, 0, 0,0.65) ), url("https://i.pinimg.com/736x/f0/40/99/f04099a6c29a242991d699bec5c2a65f.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:50vh;
 width:1000px;
}
.background{
 background-image: linear-gradient(180deg,rgba(14, 0, 0,0.567),rgba(14, 0, 0,0.65) ) ,url("Assets/Web/images/bg.jpg");
// background-color:black;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height:75vh;
 width:800px;
 opacity:2;
 background-color:black;
}
.zebrabackground{
 background-image: linear-gradient(180deg,rgba(14, 0, 0,0.567),rgba(14, 0, 0,0.65) ) ,url("https://i.pinimg.com/736x/4e/8b/e3/4e8be34355a8696733f63ca729d8ab70.jpg");
// background-color:black;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height:50vh;
 width:1000px;
 opacity:2;
 background-color:black;
}
.bgColor{
    background-color: $primaryBlack;
}
.overfflow{
    overflow-y: hidden;
}
.fontSize2em{
    font-size: 2em;
}
.padding20px{
    padding:20px
}
.mat-form-field {
    
    width: 400px;
}
.fontSize4em{
    font-size: 4em;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    background: white;
}
body{
    
        height:80vh;
    
}

.whiteText{
    color:$white
}
.mainContent{
    height: calc(100vh - 90px);
    background:#f0f0f0;
}
.primaryBlackText{
    color:$primaryBlack;
}
.btn{
    background-color: $yellow;
    color:$white;
}
.loginHeight{
    height:80vh;
    background:#eef1f5;
    border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(53 72 91 / 7%), 0 2px 2px rgb(0 0 0 / 1%), 0 4px 4px rgb(0 0 0 / 2%), 0 10px 8px rgb(0 0 0 / 3%), 0 15px 15px rgb(0 0 0 / 3%), 0 30px 30px rgb(0 0 0 / 4%), 0 70px 65px rgb(0 0 0 / 5%);
}

.borderRadius{
    border-radius: 10px 0px 0px 10px;
}
.bluebottom:focus{
    border-bottom:$primaryBlue solid 2px;
    font-weight: bold;
}
.about:hover{
    border-bottom:$primaryBlue solid 2px;
    font-weight: bold;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .5em 0 1em 0;
}
mat-form-field-appearance-outline .mat-form-field-flex {
    width: 300px!important;
}
.fontSize24{
    font-size: 24px;
}
.bold600{
    font-weight:600;
}
.yellowlines{
    border-bottom: $yellow 3px solid ;
    height:50px;
    left: -83px;
}
.fontSize5em{
    font-size:5em;
}
.curser{
    cursor: pointer;
}
.yellowText, .yellowTexthover:hover{
    color:$yellow;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $white;
    border: 1px solid;
  }
  .marginbottom1em{
      margin-bottom: 1em;
  }
.img:hover{
    // width:300px;
    // height: 300px;
    border-radius: 0px!important;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation: flash .5s;

    img { 
	transition: all .2s ease-in-out; 
    }
    
    img:hover { 
    	transform: scale(1.2); 
    }

}
.font3em{
    font-size:3em;
}
.padding10{
    padding:10px;
}
.fontSize1em{
    font-size:1em;
}
.margin-top1em{
    margin-top:1.9em;
}
